---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import { pwaInfo } from "virtual:pwa-info";
import config from "@/config/config.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.css";
import {
  GoogleTagmanager,
  GoogleTagmanagerNoscript,
} from "@digi4care/astro-google-tagmanager";
import { ClientRouter } from "astro:transitions";
import SearchModal from "./helpers/SearchModal";
import defaultOgImageSrc from "@/assets/images/og-image.png";
import { Font } from "astro:assets";

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// destructure frontmatter
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;
const finalImage = image ? image : defaultOgImageSrc.src;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <!-- google tag manager -->
    {
      config.google_tag_manager.enable && (
        <GoogleTagmanager id={config.google_tag_manager.gtm_id} />
      )
    }
    <!-- favicon -->
    <link rel="icon" href="/favicon/favicon.ico" sizes="48x48" />
    <link
      rel="icon"
      href="/favicon/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon-180x180.png" />
    <link
      rel="mask-icon"
      href="/favicon/maskable-icon-512x512.png"
      color="#FFFFFF"
    />
    <meta name="apple-mobile-web-app-title" content="DTU Salsa Wiki" />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <!-- theme meta -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- google font css -->
    <Font cssVariable="--font-primary" preload />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title -->
    <title>
      {plainify(meta_title ? meta_title : title ? title : config.site.title)}
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- noindex robots -->
    <meta name="robots" content="noindex,nofollow" />

    <!-- meta-description -->
    <meta
      name="description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <ClientRouter />

    <!-- author from config.json -->
    <meta name="author" content={config.metadata.meta_author} />

    <!-- og-title -->
    <meta
      property="og:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.site.base_url}${finalImage}`}
    />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={`${config.site.base_url}${finalImage}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="min-h-screen flex flex-col">
    {/* google tag manager noscript */}
    {
      config.google_tag_manager.enable && (
        <GoogleTagmanagerNoscript id={config.google_tag_manager.gtm_id} />
      )
    }

    <TwSizeIndicator />
    <Header />
    <SearchModal client:load />
    <main id="main-content" class="flex-1">
      <slot />
    </main>
    <Footer />
    <script src="/src/pwa.ts"></script>
  </body>
</html>
